* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%;
}

.header-field {
  display: flex;
  height: 75px;
  background-image: url('image/cafe1_s.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-text {
  position: absolute;
  margin: 5px 15px;
}

main {
  margin: 50px 10%;
}

.box {
  width: auto;
}

.text {
  width: auto;
}

footer {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
}